body {
    font-size: 16px;
}

:root {
    --header-color: #e8e8e8;
    --white-color: #ffffff;
    --black-color: #000;
    --red-color: #FF0000;
}

h1, h2, h3, h4, h5 {
    font-family: 'Courgette', cursive;
}

h2 {
    font-size: 2.2rem;
    margin-bottom: 1rem;
}

header {
    color: var(--black-color);
    background-color: var(--header-color);
    height: 130px;
    line-height: 75px;
    border-bottom: 50px solid var(--white-color)
}

header::after {
    display: block;
    content: "";
    width: 100%;
    height: 50px;
    background: linear-gradient(135deg, #e8e8e8 25%, transparent 25%), linear-gradient(-135deg, #e8e8e8 25%, transparent 25%);
    background-size: 50px 50px;
    background-position: 50px;
    position: absolute;
    top: 80px;
    left: 0;
}

.background-black {
    background-color: var(--black-color);
}

.background-red {
    background-color: var(--red-color);
}

.background-white {
    background-color: var(--white-color);
}

.background-gray {
    background-color: var(--header-color);
}

.border-white {
    border: 1px solid var(--white-color);
}

.border-gray {
    border: 1px solid var(--header-color);
}

.border-bottom-gray {
    border-bottom: 1px solid var(--header-color);
}

.border-bottom-black {
    border-bottom: 1px solid var(--black-color)
}

.lh35 {
    line-height: 35px;
}

.mb10 {
    margin-bottom: 10px;
}

.mb20 {
    margin-bottom: 20px
}

.mt20 {
    margin-top: 20px;
}

.mt10 {
    margin-top: 10px
}

.text-uppercase {
    text-transform: uppercase;
}

.oi {
    font-size: 25px;
    color: var(--white-color);
}

.header-description {
    font-family: 'Courgette', cursive;
}

.cart {
    text-align: right;
}

.cart-button {
    position: relative;
}

.cart-button:before {
    content: attr(data-itemsnumber);
    font-size: 12px;
    position: absolute;
    top: 0px;
    right: -16px;
    background: var(--white-color);
    padding: 0 5px;
    color: var(--black-color);
    text-align: center;
    border-radius: 24px;
    height: 25px;
    width: 25px;
    line-height: 25px;
}

.cart-button.receive-item {
    animation: shock .4s ease-in-out forwards;
}

@keyframes shock{
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
}


.circle-button {
    height: 45px;
    width: 45px;
    -webkit-border-radius: 45px;
    -moz-border-radius: 45px;
    border-radius: 45px;
    display: inline-flex;
    justify-content: center;
    border: 1px solid var(--black-color)
}

.circle-button:hover {
    cursor: pointer;
    background-color: var(--white-color);
    border: 1px solid var(--black-color);
    transition: all .2s ease-in-out;
}

.circle-button:hover .oi {
    color: var(--black-color)
}

.list-items {
    margin: 2rem auto;
}

.product-item {
    margin-bottom: 3rem;
    padding: 1rem 0;
    border-bottom: 1px solid var(--header-color);
}

.product-item:last-child {
    margin-bottom: 0;
}

.price {
    display:block;
    font-size: 1.5rem;
    font-family: 'Courguette', cursive;
    margin-bottom: 5px;
}

.add-to-chart {
    border: 1px solid black;
    color: white;
    text-transform: uppercase;
    font-size: 1rem;
    padding: 5px 10px;
}

.add-to-chart:hover {
    cursor: pointer;
    background-color: var(--white-color);
    color: var(--black-color);
    transition: all .2s ease-in-out;
}

.product-image {
    margin: 0 auto;
    display: block;
    max-width: 50%;
}

.modal{
    -webkit-transform: translate3d(0%, 0, 0);
	-ms-transform: translate3d(0%, 0, 0);
	-o-transform: translate3d(0%, 0, 0);
	transform: translate3d(0%, 0, 0);
}


@media only screen and (max-width: 767px) {
    .add-to-chart {
        display: block;
        margin: 0 auto;
    }
}

.modal-dialog {
    max-width: 1000px;
}

.modal-header {
    display: block;
    color: var(--black-color);
    background-color: var(--header-color);
    height: 80px;
    line-height: 40px;
    border-bottom: 20px solid var(--white-color);
    padding: 8px;
    font-size: 1.5rem;
}

.modal-header::after {
    display: block;
    content: "";
    width: 100%;
    height: 50px;
    background: linear-gradient(135deg, #e8e8e8 25%, transparent 25%), linear-gradient(-135deg, #e8e8e8 25%, transparent 25%);
    background-size: 50px 50px;
    background-position: 50px;
    position: absolute;
    top: 60px;
    left: 0;
}

.delete-product {
    color: var(--red-color)
}

.cart-item img{
    max-width: 50%;
}

.total {
    font-family: 'Courguette', cursive;
}

.checkout {
    border: 1px solid black;
    color: white;
    text-transform: uppercase;
    font-size: 1.2rem;
    padding: 10px 20px;
}

.checkout:hover {
    cursor: pointer;
    background-color: var(--white-color);
    color: var(--black-color);
    transition: all .2s ease-in-out;
}

.cart-item {
    height: 4rem;
    line-height: 4rem;
} 

